/* Top menu dropdown fix */
.masthead__menu-item {
  position: relative;
}

.masthead__menu-item:hover > .masthead__submenu {
  display: block;
}

.masthead__submenu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: var(--global-bg-color);
  border: 1px solid var(--global-border-color);
  min-width: 200px;
  z-index: 999;
}

.masthead__submenu li a {
  display: block;
  padding: 0.5rem 1rem;
}
